{% extends 'base.html.twig' %}

{% block title %}SituationFamiliale index{% endblock %}

{% block body %}
    <h1>SituationFamiliale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situation_familiale in situation_familiales %}
            <tr>
                <td>{{ situation_familiale.id }}</td>
                <td>{{ situation_familiale.name }}</td>
                <td>
                    <a href="{{ path('situation_familiale_show', {'id': situation_familiale.id}) }}">show</a>
                    <a href="{{ path('situation_familiale_edit', {'id': situation_familiale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('situation_familiale_new') }}">Create new</a>
{% endblock %}
