{% extends 'base.html.twig' %}

{% block title %}Status index{% endblock %}

{% block body %}
    <h1>Status index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StatusName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.statusName }}</td>
                <td>
                    <a href="{{ path('status_show', {'id': status.id}) }}">Afficher</a>
                    <a href="{{ path('status_edit', {'id': status.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-lg-1">
            <a href="{{ path('status_new') }}"><button class="btn btn-primary">Créer nouveau</button></a>
        </div>
    </div>
{% endblock %}
