<div class="container">
    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.siteName) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.siteName) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.territoire) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.territoire) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.active) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.active) }}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
