{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
    <h1>Site</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>Nom du site</th>
                <td>{{ site.siteName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('site_index') }}">retour à la liste</a>

    <a href="{{ path('site_edit', {'id': site.id}) }}">modifier</a>

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}
