{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>
<div class="container">
    {{ form_start(registrationForm) }}
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.username) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.username) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.plainPassword) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.roles) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.roles) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.title) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.title) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.surname) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.surname) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.firstname) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.firstname) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.address) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.address) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.postalCode) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.postalCode) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.city) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.city) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.birthDate) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.birthDate) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.tel1) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.tel1) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.tel2) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.tel2) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.comment) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.comment) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.email) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.email) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(registrationForm.site) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(registrationForm.site) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
