{% extends 'base.html.twig' %}

{% block title %}NiveauFormation index{% endblock %}

{% block body %}
    <h1>NiveauFormation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom du Niveau de Formation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau_formation in niveau_formations %}
            <tr>
                <td>{{ niveau_formation.id }}</td>
                <td>{{ niveau_formation.nivFormName }}</td>
                <td>
                    <a href="{{ path('niveau_formation_show', {'id': niveau_formation.id}) }}">Afficher</a>
                    <a href="{{ path('niveau_formation_edit', {'id': niveau_formation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune donnée trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('niveau_formation_new') }}">Créer un niveau de formation</a>
{% endblock %}
