{% extends 'base.html.twig' %}

{% block title %}NiveauFormation{% endblock %}

{% block body %}
    <h1>NiveauFormation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ niveau_formation.id }}</td>
            </tr>
            <tr>
                <th>Nom du niveau de formation</th>
                <td>{{ niveau_formation.nivFormName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('niveau_formation_index') }}">retour à la liste</a>

    <a href="{{ path('niveau_formation_edit', {'id': niveau_formation.id}) }}">Modifier</a>

    {{ include('niveau_formation/_delete_form.html.twig') }}
{% endblock %}
