{% extends 'base.html.twig' %}

{% block title %}NiveauFormation{% endblock %}

{% block body %}
    <h1>NiveauFormation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ niveau_formation.id }}</td>
            </tr>
            <tr>
                <th>Nom du niveau de formation</th>
                <td>{{ niveau_formation.nivFormName }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-lg-1">
            <a href="{{ path('niveau_formation_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
        </div>
        <div class="col-lg-1">
            <a href="{{ path('niveau_formation_edit', {'id': niveau_formation.id}) }}"><button class="btn btn-primary">Modifier</button></a>
        </div>
    </div>

    {{ include('niveau_formation/_delete_form.html.twig') }}
{% endblock %}
