<div class="container">
    {{ form_start(form) }}
    {% if create != true  %}
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.state) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.state) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.state_reason) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.state_reason) }}
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.title) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.surname) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.surname) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.maidenName) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.maidenName) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.firstname) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.firstname) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.birthDate) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.birthDate) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.birthCity) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.birthCity) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.countryOfOrigin) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.countryOfOrigin) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.nationality) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.nationality) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.motherTongue) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.motherTongue) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.dateOfArrivalFR) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.dateOfArrivalFR) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.tel1) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.tel1) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.tel2) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.tel2) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.email) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.otherContact) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.otherContact) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.address) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.address) }}
            <div class="address-feedback position-absolute list-group" style="z-index:1100;">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.postalCode) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.postalCode) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.city) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.city) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.typeHebergement) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.typeHebergement) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.qpv) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.qpv) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.bailleur) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.bailleur) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.socialSecurityNumber) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.socialSecurityNumber) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.situationFamiliale) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.situationFamiliale) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.nbEnfant) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.nbEnfant) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.enfantACharge) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.enfantACharge) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.emergencyContact) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.emergencyContact) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.status) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.status) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.status_extrainfo) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.status_extrainfo) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.ressource) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.ressource) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.prescripteur) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.prescripteur) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.site) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.site) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.welcomeBy) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.welcomeBy) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.comment) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.comment) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
