<div class="container">
    {{ form_start(form) }}
    {% if create != true  %}
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.state) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.state) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.state_reason) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.state_reason) }}
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.title) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.surname) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.surname) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.firstname) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.firstname) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.address) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.address) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.postalCode) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.postalCode) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.city) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.city) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.birthDate) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.birthDate) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.enfantACharge) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.enfantACharge) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.tel1) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.tel1) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.tel2) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.tel2) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.comment) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.comment) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.email) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.site) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.site) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.status) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.status) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.ressource) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.ressource) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.typeFormation) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.typeFormation) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.prescripteur) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.prescripteur) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.qpv) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.qpv) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.niveauFormation) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.niveauFormation) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.situationFamiliale) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.situationFamiliale) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
