{% extends 'base.html.twig' %}

{% block title %}TypeEnseignement index{% endblock %}

{% block body %}
    <h1>TypeEnseignement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom/th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_enseignement in type_enseignements %}
            <tr>
                <td>{{ type_enseignement.id }}</td>
                <td>{{ type_enseignement.name }}</td>
                <td>
                    <a href="{{ path('type_enseignement_show', {'id': type_enseignement.id}) }}">Afficher</a>
                    <a href="{{ path('type_enseignement_edit', {'id': type_enseignement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_enseignement_new') }}">Créer nouveau</a>
{% endblock %}
