{% extends 'base.html.twig' %}

{% block title %}Ressource index{% endblock %}

{% block body %}
    <h1>Ressource index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ressource in ressources %}
            <tr>
                <td>{{ ressource.id }}</td>
                <td>{{ ressource.ressourceName }}</td>
                <td>
                    <a href="{{ path('ressource_show', {'id': ressource.id}) }}">Afficher</a>
                    <a href="{{ path('ressource_edit', {'id': ressource.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-lg-1">
            <a href="{{ path('ressource_new') }}"><button class="btn btn-primary">Créer nouvelle ressource</button></a>
        </div>
    </div>
{% endblock %}
