{% extends 'base.html.twig' %}

{% block title %}QPV index{% endblock %}

{% block body %}
    <h1>QPV index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du QPV</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for q_p_v in q_p_vs %}
            <tr>
                <td>{{ q_p_v.id }}</td>
                <td>{{ q_p_v.qpvName }}</td>
                <td>
                    <a href="{{ path('q_p_v_show', {'id': q_p_v.id}) }}">Afficher</a>
                    <a href="{{ path('q_p_v_edit', {'id': q_p_v.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('q_p_v_new') }}">Créer un nouveau QPV</a>
{% endblock %}
