{% extends 'base.html.twig' %}

{% block title %}Enfant{% endblock %}

{% block body %}
    <h1>Enfant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enfant.id }}</td>
            </tr>
            <tr>
                <th>TypeReferent</th>
                <td>{{ enfant.typeReferent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enfant_index') }}">Retour à la liste</a>

    <a href="{{ path('enfant_edit', {'id': enfant.id}) }}">Modifier</a>

    {{ include('enfant/_delete_form.html.twig') }}
{% endblock %}
