{% extends 'base.html.twig' %}

{% block title %}StateHisto index{% endblock %}

{% block body %}
    <h1>StateHisto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Active</th>
                <th>Reason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for state_histo in state_histos %}
            <tr>
                <td>{{ state_histo.id }}</td>
                <td>{{ state_histo.date ? state_histo.date|date('Y-m-d') : '' }}</td>
                <td>{{ state_histo.active ? 'Yes' : 'No' }}</td>
                <td>{{ state_histo.reason }}</td>
                <td>
                    <a href="{{ path('state_histo_show', {'id': state_histo.id}) }}">show</a>
                    <a href="{{ path('state_histo_edit', {'id': state_histo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('state_histo_new') }}">Create new</a>
{% endblock %}
