{% extends 'base.html.twig' %}

{% block title %}StateHisto{% endblock %}

{% block body %}
    <h1>StateHisto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ state_histo.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ state_histo.date ? state_histo.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ state_histo.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ state_histo.reason }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('state_histo_index') }}">retour à la liste</a>

    <a href="{{ path('state_histo_edit', {'id': state_histo.id}) }}">modifier</a>

    {{ include('state_histo/_delete_form.html.twig') }}
{% endblock %}
