{% extends 'base.html.twig' %}

{% block title %}Prescripteur index{% endblock %}

{% block body %}
    <h1>Prescripteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PrescripteurName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prescripteur in prescripteurs %}
            <tr>
                <td>{{ prescripteur.id }}</td>
                <td>{{ prescripteur.prescripteurName }}</td>
                <td>
                    <a href="{{ path('prescripteur_show', {'id': prescripteur.id}) }}">Afficher</a>
                    <a href="{{ path('prescripteur_edit', {'id': prescripteur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune donnée trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-lg-1">
            <a href="{{ path('prescripteur_new') }}"><button class="btn btn-primary">Créer un nouveau prescripteur</button></a>
        </div>
    </div>

{% endblock %}
