{% extends 'base.html.twig' %}

{% block title %}Prescripteur{% endblock %}

{% block body %}
    <div class="row m-3">
        <h1>{{ prescripteur.prescripteurName }}</h1>
    </div>
    <div class="row m-3">
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <th>Responsable</th>
                <td>{{ prescripteur.respName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ prescripteur.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ prescripteur.postalCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ prescripteur.city }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ prescripteur.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ prescripteur.tel }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ prescripteur.type.name }}</td>
            </tr>
            <tr>
                <th>Territoire</th>
                <td>{{ prescripteur.territoire.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row m-3">
        <a href="{{ path('prescripteur_index') }}"><button class="btn btn-primary">Retour à la liste</button></a>
    </div>
{% endblock %}
