{% extends 'base.html.twig' %}

{% block title %}Territoire index{% endblock %}

{% block body %}
    <h1>Territoire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for territoire in territoires %}
            <tr>
                <td>{{ territoire.id }}</td>
                <td>{{ territoire.name }}</td>
                <td>
                    <a href="{{ path('territoire_show', {'id': territoire.id}) }}">show</a>
                    <a href="{{ path('territoire_edit', {'id': territoire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('territoire_new') }}">Create new</a>
{% endblock %}
