<div class="container">
    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-lg-2">
            {{ form_label(form.formationName) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form.formationName) }}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>
