{% extends 'base.html.twig' %}

{% block title %}TypeFormation index{% endblock %}

{% block body %}
    <h1>TypeFormation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom formation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_formation in type_formations %}
            <tr>
                <td>{{ type_formation.id }}</td>
                <td>{{ type_formation.formationName }}</td>
                <td>
                    <a href="{{ path('type_formation_show', {'id': type_formation.id}) }}">Afficher</a>
                    <a href="{{ path('type_formation_edit', {'id': type_formation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_formation_new') }}">Créer nouveau</a>
{% endblock %}