{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <h1>Changement de mot de passe</h1>

    <div class="container">
        {{ form_start(form) }}
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(form.plainPasswordCurrent) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(form.plainPasswordCurrent) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-2">
                {{ form_label(form.plainPasswordNew) }}
            </div>
            <div class="col-lg-10">
                {{ form_widget(form.plainPasswordNew) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(form) }}
        {% if success is defined %}
        <div class="row m-3">
            {% if success == true %}
            <div class="alert alert-success" role="alert">
                <p>Mot de passe réinitialisé avec succès</p>
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                <p>Mot de passe actuel incorrect</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

{% endblock %}
