{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Roles</th>
                <th>Mot de passe</th>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Titre</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Date de naissance</th>
                <th>Tel1</th>
                <th>Tel2</th>
                <th>Commentaire</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.title }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.postalCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.tel1 }}</td>
                <td>{{ user.tel2 }}</td>
                <td>{{ user.comment }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Afficher</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Créer nouveau</a>
{% endblock %}
