{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ user.title }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ user.postalCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tel1</th>
                <td>{{ user.tel1 }}</td>
            </tr>
            <tr>
                <th>Tel2</th>
                <td>{{ user.tel2 }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ user.comment }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">retour à la liste</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
